h1{color: #ff6813; font-family:helvetica; text-align: center}
h2{color: #ff6813; font-family:helvetica; text-align: center}
body{background-color: #000000}
p{	
	font-family: "Lucida Console", Monaco, monospace;
	text-align: left;
	color: #ffffff;
	}
li{
	font-family: 
	}

a:link{
	text-decoration: none;
	color: #ff6813;
	font-family: helvetica;
	}	

a:visited{
	color: #ff6813;
	}

a:hover{
	color: #ffffff;
	}
